.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 230px;
    background-image: url('../../../public/assests/Products/banner.png');
    background-size: cover;
    color: #fff;
    font-style: italic;
}

.sectionWrap {
    background: #aaaaaa55;
    display: flex;
    gap: 20px;
    padding: 2% 4%;
    position: relative;
}

.leftFilter {
    width: 25%;
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    left: 0;
    background-color: yellow;
    padding: 50px;
    font-size: 20px;
    height: 100px;
}

.rightProductList {
    width: 75%;
}

.cardWrap {
    width: 30%;
    background: #fff;
    padding: 18px;
    border-radius: 6px;
}

.image {
    width: 100%;
    height: 140px;
    object-fit: contain;
}

.brand {
    line-height: 30px;
}

.title {
    color: #696969;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

.size {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #757575;
    text-decoration: underline;
}

.cardsWrap {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 30px;
    justify-content: center;
}

.cardWrap button {
    width: 100%;
    height: 40px;
    font-size: 16px;
    background: transparent;
    border: 2px solid var(--Orange);
    color: var(--Orange);
    margin-top: 20px;
    border-radius: 4px;
}

/* Product Page Styles */

.pageWrap{
    margin: 2%;
    position: relative;
}

.filterWrap{
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 2%;
}



.productList{
    padding-left: 25%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    row-gap: 2rem;
}

/* Filter Styles */

.filterContainer{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.filterTitle{
    display: flex;
    justify-content: space-between;
}

.filterTitle h3{
    font-size: calc(var(--Heading2) + 2px);
    font-weight: 600;
}

.filterTitle span{
    font-size: 24px;
}

.menuContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.eachMenu{
    display: flex;
    align-items: center;
    gap: 0.7rem;
    cursor: pointer;
}

.square{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    border: 1px solid #000;
}

.square span{
    display: flex;
    transform: rotate(10deg);
    color: var(--Orange);
}

.eachMenu span{
    font-size: 14px;
}