.productWrap {
    background-color: #efefef;
}

.productView {
    padding: 4% 8%;
    display: grid;
    grid-template-columns: 55% auto;
    gap: 10%;
    align-items: center;
}

.images {
    width: 100%;
    height: 420px;
    overflow: hidden;

    display: grid;
    grid-template-columns: 200px auto;

    border: 1px solid #000;
    border-left: none;
}

.scrollingImages {
    width: 100%;
    height: inherit;
    overflow-y: scroll;
    border: 1.5px solid black;
border-top: none;
    display: flex;
    flex-direction: column;
    /* gap: 1.5px; */
    background-color: #fff;
}

.scrollingImages::-webkit-scrollbar {
    display: none;
}

.scrollingImageContainer {
    width: inherit;
    min-height: 140px;
    max-height: 140px;
    background-color: #fff;
    cursor: pointer;
}

.scrollingImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.centerImage {
    width: 100%;
    height: inherit;
    object-fit: contain;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.brandImage {
    width: 250px;
    height: auto;
}

.details h6 {
    font-size: var(--Heading2);
    color: var(--Dark-grey);
}

.details h1 {
    margin: 2.5% 0;
    font-size: calc(var(--Heading1) + 8px);
}

.details h2 {
    font-size: calc(var(--Heading1) + 2px);
}

.details h5 {
    font-size: 14px;
    font-weight: 400;
}

.detailsBtn {
    margin: 1.5% 0;

    color: #fff;
    border: none;
    background-color: var(--Orange);
    font-size: var(--Heading2);
    letter-spacing: 0.5px;
    font-weight: 500;
    padding: 18px;
    width: 80%;
}

/* Product Overview */

.overviewWrap {
    padding: 4%;
    background-color: #f4f4f4;
}

.overview {
    margin: 4% 0;
    display: flex;
    gap: 2rem;
}

.overviewContainer {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 1.5px;
}

.eachOverview {
    display: grid;
    grid-template-columns: 50% auto;
    gap: 1.5px;
}

.eachOverview h5 {
    font-size: var(--Heading2);
    text-transform: capitalize;
    padding: 25px 15%;
    background-color: #d9d9d9;
}

.eachOverview p {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: var(--Heading2);
    text-align: center;
    background-color: #d9d9d9;
}

/* Description Content */

.desc {
    padding: 4%;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.brandImage1 {
    width: 360px;
    height: auto;
}

.title h1 {
    margin-top: 0.5%;
    font-size: calc(var(--Heading1) + 8px);
}

.title h5 {
    font-size: var(--Para);
}

.content {
    margin-top: 3%;
}

.content h2 {
    font-size: calc(var(--Heading1) -2px);
    font-weight: 550;
    text-decoration: underline;
}

.content p {
    padding: 2%;
    font-size: calc(var(--Para) + 2px);
}
.compareAtPrice{
    font-size: 22px;
    color: #2d2d2d;
    text-decoration: line-through;
}

@media (max-width: 1200px) {
    .productView {
        grid-template-columns: 60% auto;
        gap: 7%;
    }

    .images {
        height: 360px;
        grid-template-columns: 160px auto;
    }

    .scrollingImageContainer {
        min-height: 120px;
        max-height: 120px;
    }
}

@media (max-width: 950px) {
    .productView {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }

    .images {
        height: 540px;
        grid-template-columns: 200px auto;
    }

    .scrollingImageContainer {
        max-height: 180px;
        min-height: 180px;
        border: 1px #000 solid;
        border-left: none;
        border-right: none;
        
    }

    .overview {
        gap: 1rem;
    }
}

@media (max-width: 800px) {
    .images {
        height: 65vw;
        grid-template-columns: 30% auto;

    }

    .scrollingImageContainer {
        min-height: 100px;
        max-height: 100px;
    }

    .overview {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 750px) {
    .details {
        gap: 0.5rem;
    }

    .brandImage {
        width: 50vw;
    }
}

@media (max-width: 550px) {

    .details h6 {
        font-size: 12px;
    }

    .details h1 {
        margin: 2.5% 0;
        margin-bottom: 0;
        font-size: 20px;
    }

    .details h2 {
        font-size: 18px;
        margin-top: 20px;
    }

    .details h5 {
        font-size: 10px;
    }

    .detailsBtn {
        font-size: 14px;
        letter-spacing: 0.2px;
        padding: 12px 18px;
        width: max-content;
    }

    .title {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .brandImage1 {
        width: 50vw;
    }

    .eachOverview h5 {
        padding: 15px 10%;
    }
}