.addProduct {
    padding: 2%;

}

.titleBackWrap {
    display: flex;
    justify-content: space-between;
    font-size: larger;
    background: #F1F1F1;
    padding: 2% 0;
    border-radius: 0px 10px 10px 10px;
}


.rightWrap {
    width: 30%;
}

.inputForm {
    width: 70%;
    padding-top: 4%;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-between;
}

.large {
    width: 100%;
    background: #fff;
    padding: 2%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-size: large;
    margin-top: 10px;
}

.medium {
    width: 45%;
    background: #fff;
    padding: 2%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-size: large;
    margin-top: 10px;
}

.inputForm input {
    padding: 8px 0px;
    padding-left: 6px;
    border-radius: 6px;
    border: 1px solid #0000006f;
    margin-top: 10px;
    height: min-content;
}

.inputForm textarea {
    padding: 8px 0px;
    padding-left: 6px;
    border-radius: 6px;
    border: 1px solid #0000006f;
    margin-top: 10px;
    height: min-content;
    min-height: 100px;
}

.inputForm input[type='file'] {
    padding: 8px 0px;
    padding-left: 6px;
    border-radius: 6px;
    margin-top: 10px;
    height: min-content;
}

.previewImg {
    width: 45%;
    object-fit: contain;
}

/* select */
.select {
    display: flex;
    align-items: center;
}

.inputForm select {
    padding: 8px 0px;
    padding-left: 6px;
    border-radius: 6px;
    border: 1px solid #0000006f;
    height: min-content;
    width: 80%;
}

.addIcon {
    width: 20%;
    font-size: 35px;
    cursor: pointer;
}

.saveCloseBtn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 4% 0;
}

.saveBtn {
    width: 35%;
    cursor: pointer;
}

.notSaved {
    width: 35%;
    cursor: pointer;
    background: red;
    color: #fff;
}

/* Loading */
.loadingWrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

.loadingIcon {
    font-size: 100px;
    color: aqua;
    animation: loading 1s infinite ease-in-out;
}

@keyframes loading {
    0% {
      transform: translateY(0px);
    }

50%{
    transform: translateY(20px);
}

    100% {
        transform: translateY(0px);
    }
}