.popupDisabled {
    display: none;
}

.popupActive {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #3c3c3c16;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popupWrap {
    /* width: 0%; */
    height: 60%;
    background: #fff;
    position: relative;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 2% 6%;
}

.closeBtn {
    position: absolute;
    top: 2%;
    right: 1%;
    cursor: pointer;
    font-size: 25px;
}

.popupWrap form {
    width: 70%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.inputWrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 6px;
}

.inputWrap input {
    height: 50px;
    padding: 0 4px;
    border-radius: 6px;
    border: 1px solid #0000007d;
    font-size: 20px;
}
.inputWrap button {
    height: 40px;
    padding: 0 4px;
    border-radius: 6px;
    border: 1px solid #0000007d;
    font-size: 18px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.formWrap{
    display: flex;
    flex-direction: column;
    gap: 20px;
}