.SectionWrap{
    padding-right: 2%;
    padding-top: 2%;
}

.title {
    font-size: 28px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 4%;
}

.table th {
    text-align: left;
    padding: 8px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
}

/* Style table data cells */
.table td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}

/* Style the first column (thumbnail) */
.table td:first-child {
    width: 120px;
}

.editIcon{
    font-size: 26px;
}