* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

a,
Link {
    color: inherit;
    text-decoration: none;
}

:root {
    --Dark-blue: #30426A;
    --Dark-grey: #5C5C5C;
    /* --Light-blue:  */
    --Orange: #F16101;
    --Blue: #D8E8F5;
    --Grey: #90908A;
    --BtnColor: #86abd5;

    /* Fonts */
    --Para: 16px;
    --Heading1: 28px;
    --Heading2: 18px;
}



h1 {
    font-size: 46px;
    font-weight: 700;
    /* line-height: 60px; */
    letter-spacing: 0px;
    margin: 2px 0;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    /* line-height: 60px; */
    /* letter-spacing: 0px;
    margin: 2px 0; */
}

h3 {
    font-size: 24px;
    font-weight: 700;
    /* line-height: 40px; */
    /* letter-spacing: 0px;
    margin: 2px 0; */
}


p {
    font-size: 14px;
    font-weight: 400;
    /* line-height: 23px; */
    letter-spacing: 0px;
    /* color: var(--Grey); */
    /* margin: 2px 0; */
}

ul,
ol,
li {
    list-style: none;
}

button{
    cursor: pointer;
}

@media (max-width: 1200px) {
    :root {
        --Para: 14px;
        --Heading1: 26px;
        --Heading2: 16px;
    }
}

@media (max-width: 1000px) {
    :root {
        --Para: 12px;
        --Heading1: 24px;
        --Heading2: 14px;
    }
}

@media (max-width: 750px) {
    :root {
        --Para: 11px;
        --Heading1: 22px;
        --Heading2: 13px;
    }
}

