.navbarWrap {
    position: fixed;
    top: 0;
    z-index: 99;
    background-color: #fff;
    width: 100vw;
    height: 125px;
    display: grid;
    grid-template-rows: 55% 45%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.navbarTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
}

.navbarLogo {
    height: 40px;
    width: 150px;
}

.navbarMenus {
    display: flex;
    gap: 1.5rem;
}

.navbarMenus li {
    font-size: var(--Para);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: all 0.2s ease-in-out;
}

.navbarIcons {}

.navbarBottom {
    display: flex;
    justify-content: space-between;
}

.BottomLeft {
    display: flex;
}

.brands,
.center {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    padding: 0 30px;
    cursor: pointer;
}

.brands {
    position: relative;
    color: #fff;
    background-color: var(--BtnColor);
}

.center {
    padding: 0 22px;
}

.brands p,
.center p {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.3px;
}

.brands span {
    display: flex;
    font-size: 20px;

    transition: all 0.4s ease-in-out;
}


.brandsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    color: #000;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

    position: absolute;
    bottom: -257px;
    left: 0;

    transition: all 0.4s ease-in-out;
}

.brand {
    padding: 7px 0px;

    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    gap: 0.5rem;

    border-bottom: 2.4px solid #dedede;
}

.brand:hover {
    scale: 1.05;
    transition: all .2s ease-in-out;
}

.brandImage {
    width: 100%;
    height: 35px;
    object-fit: contain;
}

.brand span {
    font-size: 16px;
    font-weight: 550;
    letter-spacing: 1px;
}

.navbarBtn {
    border: none;
    background-color: var(--Orange);
    color: #fff;
    font-size: var(--Heading2);
    font-weight: 550;
    text-transform: uppercase;
    padding: 0 30px;
    cursor: pointer;
}

.spacer {
    width: 100%;
    height: 125px;
}

.phoneMenu {
    
}

.phoneMenu span {
    display: flex;
    font-size: 28px;
    cursor: pointer;
}

.sliderContainer {
    position: absolute;
    right: 0;
    top: 0;

    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 30% auto;

    transition: all 0.2s ease-in-out;
}

.slider {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 30% 0 0 12%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

}

.phoneOptions{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.phoneOptions li {
    font-size: 16px;
}

.brandsPhone {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.brandsPhone h5{
    font-size: 16px;
}

.brandPhone{
    display: grid;
    grid-template-columns: 70px auto;
}

.brandsPhone span{
    font-size: 16px;
}

.brandPhoneImage{
    height: 30px;
    width: 100%;
    object-fit: contain;
}

.close{
    position: absolute;
    top: 3%;
    right: 5%;
    z-index: 3;

    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 750px) {
    .navbarWrap {
        height: 70px;
        grid-template-rows: 100%;
    }

    .navbarTop{
        padding: 0 5%;
    }

    .spacer {
        height: 70px;
    }

    .navbarBottom {
        display: none;
    }

    .navbarIcons,
    .navbarMenus {
        display: none;
    }
}
@media (min-width: 750px) {
    .phoneMenu{
        display: none;
    }
}