.sectionHeader{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.sectionHeader h2{
    font-size: var(--Heading1);
    font-weight: 700;
    text-transform: capitalize;
}

.sectionHeader p{
    width: 70%;
    font-size: var(--Para);
    color: var(--Grey);
}

/* @media (max-width: 750px) {
    .sectionHeader h2{
        font-size: 18px;
    }

    .sectionHeader p{
        width: 100%;
        font-size: 11px;
    }
} */