.sectionWrap {
    position: relative;
    padding: 2% 4%;
    padding-top: 6%;
    background: #D7D8D7;
    display: flex;
    align-items: center;
    margin-top: 8%;
    cursor: pointer;
}

.content {
    font-size: 38px;
    font-weight: 600;
    line-height: 52px;
    width: 35%;
    text-transform: uppercase;
   
}

.whiteBg {
    background: #fff;
}

.orange {
    color: var(--Orange);
}

.img {
    width: 65%;
    height: auto;
}

@media (max-width: 1000px) {
    .content {
        font-size: 28px;
        line-height: 42px;
        width: 50%;
    }

    .img {
        width: 50%;
    }
}

@media (max-width: 750px) {
    .content {
        position: relative;
        z-index: 2;
        font-size: 24px;
        line-height: 38px;
        width:85%;
    }

    .img {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1;
        opacity: 0.2;
        width: 70%;
    }
}

@media (max-width: 750px) {
    .content {
        font-size: 20px;
        line-height: 30px;
    }
}