.sectionWrap {
    padding: 0 4%;
    margin: 4% 0;
    background: var(--Dark-blue);
    display: flex;
    padding-right: 0;
}

.contentWrap {
    width: 50%;
    color: #fff;
    padding: 4% 3% 12%;
}

.contentWrap h1 {
    font-size: calc(var(--Heading1) + 8px);
    /* font-weight: 600; */
}

.contentWrap p {
    color: #fff;
    padding: 4% 0;
    font-size: var(--Para);
    font-weight: 300;
}

.readMore {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    cursor: pointer;
}

.readMore p {
    text-decoration: underline;
}

.readMore span {
    display: flex;
}

.img {
    width: 50%;
    height: auto;
    object-fit: cover;
}

@media (max-width: 550px) {
    .sectionWrap {
        padding: 0;
        flex-direction: column;
    }

    .img {
        width: 100%;
    }

    .contentWrap {
        width: 100%;
        padding: 4%;
    }
    
}