.servicesContainer{
    margin: 5%;
    /* overflow: scroll !important; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    row-gap: 4rem;
}

.servicesContainer::-webkit-scrollbar{
    display: none;
}

.eachService{
    flex: 1;
    min-width: 310px;
    max-width: 310px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.eachImageContainer{
    position: relative;
    width: 100%;
    height: 240px;
    border-radius: 20px;
    overflow: hidden;
}

.eachImage{
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.serviceBooking{
    position: absolute;
    top: 25px;
    right: 10px;
    z-index: 2;

    outline: none;
    border: none;
    background-color: var(--Orange);
    padding: 6px 10px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
}

.eachService p{
    font-size: var(--Para);
    color: var(--Grey);
}

.eachbottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 0px;
    cursor: pointer;
    border-bottom: 1px solid #fff;
    transition: all 0.1s ease-in-out;
}

.eachbottom h5{
    text-transform: uppercase;
    font-size: 18px;
    padding: 2px 0px;
    border: none;
}

.eachbottom:hover{
    color: var(--Orange);
    border-bottom: 1px solid var(--Orange);
    padding: 2px 0px;
}

.eachbottom span{
    display: flex;
    font-size: 13px;
}

/* Text Bottom */

.textContainer{
    display: flex;
    justify-content: center;
}

.text{
    width: max-content;
    padding: 28px 90px;
    background-color: var(--Dark-blue);
    border-radius: 30px;
}

.text h2{
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
}

@media (max-width: 750px) {
    .servicesContainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .eachService{
        min-width: 100%;
        max-width: 100%;
    }
}

@media (max-width: 550px) {
    .servicesContainer{
        display: grid;
        grid-template-columns: 1fr;
    }
}